*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.front{
    width: 100%;
}
.child{
    width: 80%;
    height: auto;
    position: absolute;
    top: 0%;
    right: 0;
}
.side-navbar{
    width: 20%;
    height: 100vh;
    background-color: black;
    overflow-y: hidden;
    position: fixed;
    left: 0%;
    top: 0%;
    bottom: 0%;
}
.front .side-navbar img{
    width: 100%;
    border-radius: 50%;
    padding: 10px;
    margin-top: 10px;
    border: 3px solid white;
}
.front .side-navbar h1{
    color: white;
    text-align: center;
    padding-bottom: 10px;
}
.front .side-navbar .icons{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 10px;
}
.icons i{
    background-color: rgb(143, 139, 139);
    height: 30px;
    width: 30px;
    border-radius: 50% ; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.navitems li{
    list-style: none;
    padding: 10px;
    cursor: pointer;
}
.navitems li i{
    font-size: 1.5rem;
    color: rgb(230, 228, 228);  
}
.navitems li i:hover{
    color: skyblue;
    transition: 0.5s;
}
.navitems li a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
}
.folio{
    color: white;
    text-align: center;
    font-size: .9rem;
    padding: 5px;
}
.folio .fa-copyright{
    color: white;
}
.folio .blue{
    color: blue;
}
.folio .port{
    font-weight: bolder;
    color: white;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
.main h1 {
    text-align: left;
    font-family: Lato, sans-serif;
    font-weight: 700;
    margin: 1rem 0 1rem 2rem;
}
@keyframes typing {
    0.0000%, 27.3488% { content: ""; } 
    1.1395%, 26.2093% { content: "D"; } 
    2.2791%, 25.0698% { content: "De"; } 
    3.4186%, 23.9302% { content: "Dev"; } 
    4.5581%, 22.7907% { content: "Deve"; } 
    5.6977%, 21.6512% { content: "Devel"; } 
    6.8372%, 20.5116% { content: "Develo"; } 
    7.9767%, 19.3721% { content: "Develop"; } 
    9.1163%, 18.2326% { content: "Develope"; } 
    10.2558%, 17.0930% { content: "Developer"; } 
    
    30.7674%, 51.2791% { content: ""; } 
    31.9070%, 50.1395% { content: "F"; } 
    33.0465%, 49.0000% { content: "Fr"; } 
    34.1860%, 47.8605% { content: "Fre"; } 
    35.3256%, 46.7209% { content: "Free"; } 
    36.4651%, 45.5814% { content: "Freel"; } 
    37.6047%, 44.4419% { content: "Freela"; } 
    38.8023%, 43.3521% { content: "Freelan"; } 
    39.9821%, 42.2724% { content: "Freelanc"; } 
    40.0912%, 41.1674% { content: "Freelance"; } 
    41.1826%, 40.0253% { content: "Freelancer"} 
    
    75.5349%, 95.3721% { content: ""; } 
    76.6279%, 94.8605% { content: "P"; } 
    77.7674%, 93.7209% { content: "Ph"; } 
    78.9070%, 92.5814% { content: "Pho"; } 
    79.0465%, 91.4419% { content: "Phot"; } 
    80.1860%, 90.3023% { content: "Photo"; } 
    81.3256%, 89.1628% { content: "Photog"; } 
    82.7674%, 88.0156% { content: "Photogr"; } 
    83.9070%, 87.9123% { content: "Photogra"; } 
    84.0465%, 86.8419% { content: "Photograp"; } 
    85.1860%, 85.7023% { content: "Photograph"; } 
    86.3256%, 84.6628% { content: "Photographe"; } 
    87.3256%, 83.5628% { content: "Photographer"; } 
} 
@keyframes blink {
    0%, 100% { opacity: 1; } 
    50% { opacity: 0; } 
} 
.typewriter::before {
    content: ""; animation: 
    typing 13.5s infinite; 
}  
.typewriter::after {
    content: ""; 
    border-right: 1px solid var(--caret); 
    animation: blink 0.5s linear infinite; 
}
.typewriter.nocaret::after {
    border-right: 0; 
} 
.typewriter.thick::after{
    border-right: 1ch solid var(--caret); 
}
.front .main{
    background-image: url('./WhatsApp\ Image\ 2024-02-10\ at\ 10.38.10\ AM.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}
#about {
    padding: 20px 30px;
}

.sub-heading {
    font-size: 30px;
    padding-left: 40px;
}
.sub-para {
    font-size: 15px;
    letter-spacing: 0.4px;
    padding-top: 20px;
}

#about .about-col {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
}

#about .about-col .img-col {
    width: 300px;
    text-align: center;
}

#about .about-col .img-col img {
    width: 100%;
    border-radius: 15px;
}

#about .about-col .info-col {
    display: flex;
    flex-direction: column;
}
#about .about-col .info-col h2{
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.5px;
    padding-left: 30px;
}
#about .about-col .info-col p {
    font-size: 15px;
    padding-right: 10px;
    letter-spacing: 0.5px;
}
#about .about-col .info-col .icon-list-col {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 40px;
}
#about .about-col .info-col .icon-list-col ul li {
    list-style: none;
    margin: 15px 0;
}
#about .about-col .info-col .icon-list-col ul li strong {
    font-weight: 600;
    margin-right: 2px;
}
#about .about-col .info-col .icon-list-col ul li span {
    font-weight: 500;
    font-size: 15px;
}
.container-1{
    width: 100%;
    margin-top: 50px;
}
.container-1 h1 , p{
    padding-left: 40px;
    padding-top: 10px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 40px;
}
.btn-1 , .btn-2 , .btn-3 , .btn-4{
    text-align: center;
    padding: 10px;
    width: 150px;
    height: 150px;
    margin-top: 10px;
}
.buttons i{
    font-size: 2rem;
    color: rgb(38, 38, 245);
}
.buttons p{
    font-size: .8rem;
} 
.buttons h6{
    font-size: 1rem;
}
.buttons .num{
    font-size: 2rem;
}
.container-02{
    width: 100%;
}
.container-02 h1{
    padding-left: 40px;
}
.container-02 p{
    padding-left: 40px;
}
.abc{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.abc .progress-1{
    width: 40%;
    margin: 30px;
}
.abc .progress-2{
    width: 40%;
    margin: 30px;   
}
.zero{
    display: flex;
    justify-content: space-between;
    
}
.abc .progress-1 .one{
    height: .8rem; 
    max-width: 430px;
    background: lightgray;
    margin-bottom: 20px;
}
.abc .progress-1 .one .blue{
    display: block;
    height: 100%;
    width: 100%;
    background: blue;
}
.abc .progress-1 .two{
    max-width: 430px;
    background: lightgray;
    height: .8rem;
    margin-bottom: 20px;
}
.abc .progress-1 .two .blue{
    display: block;
    height: 100%;
    width: 90%;
    background: blue;
}
.abc .progress-1 .three{
    max-width: 430px;
    background: lightgray;
    height: .8rem;
    margin-bottom: 20px;
}
.abc .progress-1 .three .blue{
    display: block;
    height: 100%;
    width: 75%;
    background: blue;
}
.abc .progress-2 .four{
    max-width: 430px;
    background: lightgray;
    height: .8rem;
    margin-bottom: 20px;
}
.abc .progress-2 .four .blue{
    display: block;
    height: 100%;
    width: 80%;
    background: blue;
}
.abc .progress-2 .five{
    max-width: 430px;
    background: lightgray;
    height: .8rem;
    margin-bottom: 20px;
}
.abc .progress-2 .five .blue{
    display: block;
    height: 100%;
    width: 90%;
    background: blue;
}
.abc .progress-2 .six{
    max-width: 430px;
    background: lightgray;
    margin-bottom: 20px;
    height: .8rem;
}
.abc .progress-2 .six .blue{
    display: block;
    height: 100%;
    width: 55%;
    background: blue;
}
.container-2 {
    width: 100%;
}
.container-2 .head , .para{
    padding-left: 40px;
}
.container-2 .table-0{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.table-0 .table-1{
    width: 45%;
    padding: 20px;
    margin: 20px;
}
.table-0 h4{
    padding-top: 20px;
}
.table-0 p{
    padding: 10px;
}
.table-0 li{
    padding: 10px;
}
.table-0 h3{
    padding-top: 20px;
}
.table-0 .table-2{
    width: 45%;
    padding: 20px;
    margin: 20px;
}
.table-0 .year{
    background-color: lightgray;
    width: 80px;
    padding: 5px;
    margin: 5px;
}
.table-0 .yea{
    background-color: lightgray;
    width: 100px;
    padding: 5px;
    margin: 5px;
}
.container-3{
    width: 100%;
}
.container-3 h1 , .para{
    padding-left: 40px;
    display: flex;
    flex-direction: column;

}
.container-3 .button-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-3 .button-2 p{
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container-7{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.images-1{
    display: flex;
    width: 48rem;
    gap: 20px;
    padding: 10px;
}
.images-1 img{
    width: 100%;
}
.container-4{
    width: 100%;
    margin-bottom: 40px;
    /* margin: 20px; */
    padding: 10px;
}
.container-4 h1{
    padding-left: 40px;
}
.container-4 .para{
    padding-left: 40px;
}
.cards-0{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px;
}
.container-4 .cards-1 , .cards-2 , .cards-3{
    display: flex;
}
.container-4 .cards-1 h2:hover{
    color: skyblue;
    cursor: pointer;
}
.container-4 .cards-2 h2:hover{
    color: skyblue;
    cursor: pointer;
}
.container-4 .cards-3 h2:hover{
    color: skyblue;
    cursor: pointer;
}
.container-4 .cards-1 .or{
    padding-left: 5px;
    padding-bottom: 5px;
}
.container-4 .cards-2 .or{
    padding-left: 5px;
    padding-bottom: 5px;
}
.container-4 .cards-3 .or{
    padding-left: 5px;
    padding-bottom: 5px;
}
.cards-0 .left{
    width: 80px;
    height: 100%;
}
.cards-0 .right{
    width: 200px;
    float: right;
}
.cards-0 i{
    display: flex;
    align-items: center;
    justify-content: center;
}
.frame{
    background-color: rgb(132, 217, 238);
    border-radius: 50% ; 
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 0% auto;
}
.frame:hover{
    background-color: white;
    border: 1px solid skyblue;
}
.container-5{
    width: 100%;
    background-color: rgb(226, 223, 223);
}
.container-5 h1{
    padding: 20px;
}
.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.boxes i{
    font-size: 1.7rem;
}
.boxes .box-1{
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 64% 76%, 50% 96%, 35% 76%, 0% 75%);
    height: 250px;
    max-width: 250px;
    padding: 15px;
    margin: 30px;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
}
.container-6{
    width: 100%;
}
.container-6 .form-0{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px;
    display: flex;
}
.container-6 h1{
    padding: 20px;
}
.form-0 .form-1{
    border: 2px solid grey;
    padding: 20px;
    box-shadow: -4px -4px 5px 5px lightgrey;
}
.form-0 .form-1 p{
    padding-left: 5px;
    padding-bottom: 5px;
}
.form-0 .form-2{
    border: 2px solid grey;
    flex-grow: 2;
    padding: 20px;
    max-width: 400px;
    box-shadow: -4px -4px 5px 5px lightgrey;
}
.form-0 .form-2 textarea{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form-0 .form-2 input{
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
}
.form-0 .form-2 #send{
    width: 100px;
    background-color: skyblue;
    color: white;
    border: none;
    padding: 5px;
}
.last-icon{
    background-color: rgb(132, 217, 238);
    border-radius: 50% ; 
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 0% auto;
    position: fixed;
    right: 40px;
    bottom: 20px;
}
.last-icon a{
    text-decoration: none;
}
.last-icon i{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:1096px){
    .table-0 .table-1{
        width: 100%;
        padding: 10px;
    }
    .table-0 .table-2{
        width: 100%;
        padding: 10px;
    }
    .progress-1 , .progress-2{
        width: 100%;
    }
}
@media (max-width:800px){
        .front{
            width: 100%;
        }
        .front .side-navbar{
            width: 20%;
            margin-bottom: 0%;
        }
        .front .child{
            width: 80%;
            margin-right: 0%;
        }
        .front .main{
            width: 100%;
        }
        .front .side-navbar .icons{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
        }
        .icons i{
            background-color: lightgray;
            height: 10px;
            width: 10px;
            border-radius: 50% ; 
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .navitems li i{
            font-size: 1rem;
        }
        .front .side-navbar h1{
            font-size: 1rem;
        }
        .About img{
            width: 250px;
        }
        .container-2 .table-0{
            display: flex;
            flex-wrap: wrap;
        }
        .table-0{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .table-0 .table-1{
            width: 100%;
            padding: 10px;
        }
        .table-0 .table-2{
            width: 100%;
            padding: 10px;
        }
        .sub-heading{
            padding-left: 10px;
        }
        .sub-para {
            padding-left: 10px;
        }
        .container-1 h1 , p{
            padding-left: 20px;
        }
        .container-02 h1{
            padding-left: 10px;
        }
        .container-02 p{
            padding-left: 10px;
        }
        .container-2 .head , .para{
            padding-left: 10px;
        }
        .table-0 h4{
            padding-top: 10px;
        }
        .table-0 p{
            padding: 5px;
        }
        .table-0 li{
            padding: 5px;
        }
        .table-0 h3{
            padding-top: 10px;
        }
        .container-3 h1 , .para{
            padding-left: 10px;
        }
        .container-4 h1{
            padding-left: 10px;
        }
        .container-4 .para{
            padding-left: 10px;
        }
        .abc .progress-1{
            width: 100%;
        }
        .abc .progress-2{
            width: 100%;
        }
        .abc .progress-1 .one{
            max-width: 100%;
        }
        .abc .progress-1 .two{
            max-width: 100%;
        }
        .abc .progress-1 .three{
            max-width: 100%;
        }
        .abc .progress-2 .four{
            max-width: 100%;
        }
        .abc .progress-2 .five{
            max-width: 100%;
        }
        .abc .progress-2 .six{
            max-width: 100%;
        }
        .last-icon{
            font-size: 1.5rem;
            height: 50px;
            width: 50px;
        }
    }
    @media (max-width:700px){
        .side-navbar{
            width: 10%;
        }
        .folio{
            font-size: .5rem;
        }
        .navitems{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .child{
            margin-top: 0%;
            margin-right: 0%;
        }
        .buttons p{
            font-size: .7rem;
        }
        .buttons h6{
            font-size: .7rem;
        }
        .buttons .num{
            font-size: 2rem;
        }
        .front .side-navbar .icons{
            font-size: .7rem;
            gap: 5px;
        }
        .icons i{
            height: 10px;
            width: 10px;
        }
    }
    @media (max-width:600px){
        .front .side-navbar img{
            padding: 4px;
            border: 2px solid white;
        }
        iframe{
            width: 100%;
        }
        .last-icon{
            font-size: 1.2rem;
            height: 40px;
            width: 40px;
        }
    }
    @media (max-width:500px){
        .about .info-col h2{
            font-size: 1.5rem;
        }
        .form-0 .form-2 textarea{
            width: 200px;
        }
        #about .about-col .info-col h2{
            font-size: 1.5rem;
        }
        .navitems li a{
            visibility: hidden;
        }
    }
    @media (max-width:400px){
        .cards-0 .left{
            width: 40px;
        }
        .cards-0 .right{
            width: 160px;
        }
        .frame{
            width: 30px;
            height: 30px;
        }
        .cards-0 p{
            font-size: .9rem;
        }
        .cards-0 h2{
            font-size: 1.2rem;
        }
        .form-0 .form-2 textarea , input{
            width: 150px;
        }
        #about .about-col .info-col h2{
            font-size: 1.1rem;
        }
        .front .side-navbar h1{
            font-size: .8rem;
        }
        iframe{
            height: 120px;
        }
        .last-icon{
            font-size: 1rem;
            height: 30px;
            width: 30px;
        }
    }

    @media (max-width:300px){
        .side-navbar{
            width: 15%;
        }
        .side-navbar .icons{
            visibility: hidden;
        }
        .side-navbar .navitems{
            padding-left: 20px;
        }
        .side-navbar h1{
            margin: 0%;
        }
        .button-2 p{
            font-size: .8rem;
        }
        .table-0 p{
            font-size: 1rem;
        }
        .cards-0 .left{
            width: 30px;
        }
        .cards-0 .right{
            width: 130px;
        }
        .frame{
            width: 20px;
            height: 20px;
        }
        .cards-0 p{
            font-size: .8rem;
        }
        .cards-0 h2{
            font-size: 1rem;
        }
        .container-5 h1{
            font-size: 1.5rem;
        }
        .boxes{
            gap: 5px;
        }
        .boxes .box-1{
            width: 150px;
            height: 140px;
            padding: 5px;
            margin: 10px;
            font-size: .5rem;
        }
        .form-0 .form-2 textarea , input{
            width: 100px;
        }
        .form-0 .form-1 p{
            font-size: .8rem;
        }
         #about .about-col .info-col .icon-list-col ul li .lmn{
            font-size: .8rem;
        }
        .buttons .btn-4{
            display: flex;
            flex-direction: column;
        }
    }
    @media (max-width:270px){
        .front .side-navbar h1{
            font-size: .6rem;
        }
    }
    @media (prefers-reduced-motion) {
        .typewriter::after { animation: none; 
        } 
    @keyframes sequencePopup {
        0%, 100% { content: "developer";} 
        25%{ content: "writer"; } 
        50% { content: "reader"; } 
        75% { content: "human"; } 
    }
    .typewriter::before {
        content: "developer"; 
        animation: sequencePopup 12s linear infinite; 
    } 
} 